<% @recipes.each do |recipe| %>
<div class = "brewcont">
  <div class = "brewers">
    <%= image_tag recipe.image, :class => 'thumb', :alt => recipe.name if recipe.image.present?  %>
        <%= link_to recipe.name, recipe %>
        <br>
        <% if recipe.style.present? %>
          Type: <%= recipe.style.name %>
        <% end %>
    </div>
  </div>
<% end %>
