<h1>All Recipes</h1>
<% @recipes.each do |recipe| %>
  <div>
    <div>
    <%= image_tag recipe.image, :class => 'thumb', :alt => recipe.name if recipe.image.present?  %>
    </div>
    <div>
      <ul>
        <li><%= link_to recipe.name, recipe %></li>
        <% if recipe.style.present? %>
          <li>Type: <%= recipe.style.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
