<div class = "contDiv">
  <div class = "left">
    <h1>New Recipe</h1>
  </div>
  <div class = "right">
    <div class ="rightInnerRecipe">
    <%= render :partial => 'form' %>
    </div>
  </div>
</div>
