
<% @brewers.each do |brewer| %>
  <div class = "brewcont">
    <div class = "brewers">
      <%= image_tag brewer.image, :class => 'thumb', :alt => brewer.name if brewer.image.present?  %>
        <%= link_to brewer.name, brewer %>
        <br>
        <%= brewer.specialty %>
      </div>
      </div>
  </div>
<% end %>
