<%= form_for @style do |f| %>

  <div class = "formItem">
    <%= f.label :name %> <br>
    <%= f.text_field :name, :required => true, :autofocus => true %>
  </div>
  <br>
  <br>
    <%= f.submit "Submit"%> 
<% end %>
