
<div class = "contDiv">
  <div class = "left">
    <h1><%= @style.name %>'s</h1>
  </div>
  <div class = "right">
    <div class ="rightinnerbrewer">
      <% @style.recipes.each do |recipe| %>
    <!-- <div>
      %= image_tag recipe.image, :class => 'thumb', :alt => recipe.name if recipe.image.present?  %>
    </div> -->
      <%= link_to recipe.name, recipe  %>
      <% end %>
    </div>
  </div>
